body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #f3effb;
    background-color: #160a29;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: rgb(156, 193, 211);
    text-align: center;
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: #046;
}

.disclaimer {
    font-size: 0.8rem;
    color: rgb(113, 160, 184);
}

code {
    background-color: #0006;
    padding: 3px;
    border-radius: 3px;
}

a {
    color: rgb(31, 165, 231);
}


.container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.area-wrapper {
    position: relative;
    text-align: center;
    padding: 10px;
}

.area-wrapper textarea {
    text-align: left;
    max-width: 60vw;
    width: 500px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;

    background-color: #222;
    color: #fff;
    border: 1px solid #555;
}

.area-wrapper textarea.error {
    color: rgb(255, 84, 84);
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .textarea {
        width: 90%;
    }
}


#zgredify {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: rgb(27, 128, 13);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#zgredify:hover {
    background-color: rgb(27, 128, 13, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


#info {
    position: absolute;
    right: 20px;
    top: 80px;
    width: 30px;
    height: 30px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

#info:hover {
    background-color: #555;
}

#labelzerolabel {
    position: absolute;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}

#copy {
    position: absolute;
    right: 20px;
    top: 80px;
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#copy:hover {
    background-color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}